<body>
  <svg id="map" width="20cm" height="20cm" viewBox="0 0 1200 1200">
    <rect x="0" y="0" width="1200" height="1200" fill="lightblue" stroke="darkblue" stroke-width="16" />
    <polygon v-bind:fill="c.resource" stroke="orange" stroke-width="10" v-bind:points="c.points" v-for="c in all_cells" />
    <text font-weight="bold" v-bind:x="c.svg_x" v-bind:y="c.svg_y" font-size="32" text-anchor="middle" v-for="c in all_cells">
    {{ "(" + c.x + "," + c.y + ")" }}
    </text>
    <text font-weight="bold" v-bind:x="v.svg_x" v-bind:y="v.svg_y" font-size="18" text-anchor="middle" v-for="v in all_vertices">
    {{ v.message }}
    </text>
  </svg>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="./client.js"></script>
